* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* START WELCOME PAGE */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

.welcome-container {
    display: flex;
    align-items: center;
}

.welcome-container {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 45px;
    font-weight: 400;
    font-family: bruce forever;
    animation-name: example;
    animation-duration: 35s;    
}

@keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:pink; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    90%  {color:palevioletred; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }

.button {
    margin-top: 5px;
    width: 8rem;
    height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 10px 5px 10px rgb(0,0,0,0.5);
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: black;
    color: white;
}

/* END WELCOME PAGE */

/* START GAME CONTAINER */

.game-container {
    display: none;
    width: 30rem;
    height: 35rem;
    background-color: blue;
    position: fixed;
}

/* END WELCOME PAGE */