* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* START WELCOME PAGE */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

/* .welcome-container {
    display: flex;
    align-items: center;
}

.welcome-container {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 45px;
    font-weight: 400;
    font-family: bruce forever;
    animation-name: example;
    animation-duration: 35s;    
}

@keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:pink; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:200px; top:200px;}
    90%  {color:palevioletred; left:200px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }

.button {
    margin-top: 5px;
    width: 8rem;
    height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 10px 5px 10px rgb(0,0,0,0.5);
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: black;
    color: white;
} */

/* END WELCOME PAGE */

/* START GAME CONTAINER */

.game-container {
    display: none;
    width: 30rem;
    height: 32rem;
    background-color: rgb(212, 117, 149);
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 10px rgb(0,0,0,0.5);
}

/* END WELCOME PAGE */

.container {
    padding-top: 40px;
    margin: 0 20px;
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 35% 35% 35%;
    max-width: 300px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

acticle {
    padding-top: 50px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.controls button {
    margin-top: 25px;
    width: 5rem;
    height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 10px 5px 10px rgb(0,0,0,0.5);
    border: none;
    border-radius: 5px;
}

.controls button:hover {
    background-color: black;
    color: white;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}